.full-height-bg {
  /* Coloca una imagen de fondo con un overlay negro translucido */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/background.webp");
  background-size: cover;
  /* vh = view height, agarra toda la altura del dispositivo */
  height: 100vh;
}

.full-height-bg .container,
.full-height-bg .container .row {
  height: 100%;
}

/* Gap solo sirve en display flex, da un espaciado entre todos los elementos dentro */
.icons-wrapper {
  gap: 26px;
}

.medium-banner {
  height: 450px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/background.webp");
  background-size: cover;
  background-position: center center;
}

.landing-header {
    background-color: #696fc7;
    
}

.houses-section img {
    max-height: 193px;
    width: 100%;
}

footer {
    padding: 2rem;
    background-color: black;
}